/* background color rgb(53, 51, 51);  */
/* text whitesmoke or  rgb(245, 245, 245)*/
/* bordering objects such as navbar rgb(128, 129, 143) */
* {
 background-color:rgb(53, 51, 51);
 color: whitesmoke !important;
 font-family: 'Martian Mono', monospace;
 font-size: 16px;
 
}
.navbar{
background-color: rgb(128, 129, 143) !important;
}
.navbar-toggler{
background-color: rgb(128, 129, 143)!important;
}
.navbar-toggler-icon{
background-color: rgb(128, 129, 143) !important;
}
.introduction{
padding-top: 20px;
color:whitesmoke;
text-align: center;
}
.carousel{
    max-height: 50%;
}

@media (max-width: 1000px){
    * {
        font-size: 12px;
        
}}