/* background color rgb(53, 51, 51);  */
/* text whitesmoke or  rgb(245, 245, 245)*/
/* bordering objects such as navbar rgb(128, 129, 143) */
* {
 background-color:rgb(53, 51, 51) !important;
 color: whitesmoke !important;
 font-family: 'Martian Mono', monospace;
 font-size: 16px;
 
}
.navbar{
background-color: rgb(128, 129, 143) !important;
}

.navbar-toggler{
background-color: rgb(128, 129, 143)!important;
}

.navbar-toggler-icon{
background-color: rgb(128, 129, 143) !important;
}
.center{
    justify-content: center;
}

.introduction{
padding-top: 2%;
color:whitesmoke;
text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 1%;
  }

.displayed{
    border: 3%;
    border-style: groove;
    border-color: rgb(128, 129, 143);
}
.about{
    display: flex;
    border-style: solid;
    flex-direction: column;
    width: auto;
    margin-top: 65%
}
.headed{
   text-align: center; 
}
.paragraph{
    font-size: 24px;
}
.footerimg{
justify-content: center;
margin-left: 40%;
margin-bottom: 10px;

}

@media all and (max-width: 900px){
    * {
        font-size: 12px;
        
}   .introduction{
    padding-top: 10px
}
}